* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "poppins", "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a,
ul,
li {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
.main{
  position: absolute;
  margin-top:80px ;
}

header {
  width: 100vw;
  height: 98px;
  position: fixed;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  transition: .5s ease-in-out;
  box-shadow: 0 0 8px 1px #635f5f;
}
.header.active{
  height: 392px;
  flex-direction: column;
  justify-content: flex-start;
  transition: .5s ease-in-out;
}

.logo {
  width: 220px;
  padding: 10px;
}

.logo img {
  width: 190px;
}

.headerList {
  width: 62%;
  padding: 6px 12px 6px 6px;
}
.headerList.active{
  display: flex;
  align-items: center ;
  justify-content: center;
  transition: 1s ease-in-out;
  animation: list .8s ease-in-out;
}
@keyframes list {
  0%{
    opacity: 0;
    }
  100%{
    opacity: 1;
  }
}

.headerList.active .mainUl {
  flex-direction: column;
}
.headerList.active .mainUl li {
  margin: 10px auto;
}
.mainUl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainUl a {
  padding: 4px;
  color: unset;
  border: 2px solid transparent;
  transition: 0.5s;
}

.activePage {
  padding: 4px;
  border-bottom: 2px solid #2b1caf;
  color: #2b1caf;
}

.mainUl a:hover {
  border-bottom: 2px solid #2b1caf;
  color: #2b1caf;
}

.mainUl li {
  transition: 0.8s;

}

.mainUl li:hover ul {

  opacity: 1;
  visibility: visible;
}

.mainUl li ul {
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  box-shadow: 0 0 7px #d1c7c7;
  width: max-content;
  background-color: white;
  position: absolute;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
}

.mainUl ul li {
  list-style: none;
  padding: 12px 20px;
  border-bottom: 1px solid #d1c7c742;
  width: 100%;
}

.mainUl ul li:hover {
  color: #12b98e;
  border-bottom: 1px solid #d1c7c742;
}

.searchBar {
  width: 130px;
  border: 1px solid rgba(128, 128, 128, 0.753);
  border-radius: 50px;
  padding: 6px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgDiv {
  width: 25%;
  margin: auto;
  display: flex;
  align-items: center;
}

.imgDiv img {
  width: 100%;
}

.searchBar input {
  width: 70%;
  outline: none;
  border: transparent;
  padding: 4px;
  color: rgba(57, 53, 61, 0.72);
}

.searchBar input::placeholder {
  color: rgba(71, 67, 75, 0.72);
}

.hamburgerDiv {
  display: none;
  width: 70%;
}

.hamburger {
  margin: auto 15px;
  float: right;
  width: 42px;
  height: 42px;
  border: 1px solid rgb(39, 30, 172);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.line {
  width: 70%;
  height: 5px;
  background-color: rgb(39, 30, 172);
  margin: -3px;
  position: relative;
  transition: .3s;
}
.line.active{
  transition: .3s;
}
.line.active:nth-child(1){
  transform: rotate(45deg);
    top: 8px;
}
.line.active:nth-child(2){
  display:none ;
}
.line.active:nth-child(3){
  transform: rotate(-45deg);
  top: -5px;
}

.mainContainer {
  width: 100vw;
  height: 800px;
  background-image: url(./assets/background.jpg)  ;
  background-color: rgb(246, 247, 252);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;
}


/* .Container{

} */
.Headings {
  width: 60%;
  margin: 30px 2px 2px 20px;
}


.Headings h1 {
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
  text-shadow:0 0 2px #000;
}

.Headings h2 {
  font-size: 90px;
  font-weight: bold; 
  color: #ffffff;
  text-shadow:0 0 2px #000;
}

.Headings p {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 7px 20px;
}

.btns {
  padding: 8px;
  width: 62%;
  display: flex;
  justify-content: space-evenly;
}

.portfolioBtn {
  font-size: 18px;
  padding: 6px 14px;
  background-color: #12b98e;
  color: #fff;
  border-radius: 30px;
  border: transparent;
  letter-spacing: 1px;
  transition: 0.8s;
}

.portfolioBtn:hover,
.read:hover {
  background-color: #000;
  color: #12b98e;
}

.contactBtn {
  letter-spacing: 1px;
  background-color: transparent;
  font-size: 20px;
  color: #000;
  border: transparent;
  padding: 8px 10px;
  transition: 0.8s;
}

.contactBtn:hover {
  color: #12b98e;
}

.detailDiv {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -5rem;
}

.detail {
  background-color: #fff;
  width: 25%;
  height: 348px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-flow: column;
  border: transparent;
  box-shadow: 0 0 3px #d1c7c7;
  border-radius: 20px;
  padding: 10px;
}

.detail img {
  width: 100px;
}

.detail h3 {
  font-size: 20px;
  color: #12b98e;
  letter-spacing: 1px;
  padding: 8px auto;
}

.detail p {
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}

.designs {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
}

.aboutDesigns {
  width: 42%;
  padding: 10px 12px;
}

.designs h3 {
  font-size: 60px;
  font-weight: 400;
}

.designs p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 14px 10px;
}

.groupImg {
  width: 40%;
}

.groupImg img {
  width: 100%;
  border-radius: 50px 0 50px 50px;
}

.read {
  font-size: 18px;
  padding: 10px 18px;
  background-color: #12b98e;
  color: #000000;
  border-radius: 30px;
  border: transparent;
  letter-spacing: 1px;
  transition: 0.8s;
}

.empowerSec {
  width: 100vw;
  height: 448px;
  display: flex;
  justify-content: space-around;
  background-color: #f5f4f4;
}

.inDiv {
  width: 28%;

}

.divInDiv {
  width: 94%;
  border-radius: 20px;
  box-shadow: 0 0 3px #d1c7c7;
  background-color: #12b98e;
  padding: 42px 55px;
  margin: 14px auto;
}
.inDiv:nth-child(2) .divInDiv:nth-child(2),
.inDiv:nth-child(1) .divInDiv:nth-child(1){
  height: 50%;
    display: flex;
    align-items: unset;
    justify-content: center;
    flex-flow: column;
}

.divInDiv img {
  padding: 10px;
  width: 70px;
}

.divInDiv h4 {
  font-size: 18px;
  color: #fff;
}

.empowerdetail {
  width: 35%;
  padding: 14px 16px;
}

.empowerdetail h2 {
  font-size: 40px;
}

.empowerdetail p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
}

.empowerdetail button {
  margin-top: 15px;
}


.valuesSection {
  width: 100vw;
  margin: 8px auto;
}

.values {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 1rem;
}

.value {
  text-align: center;
  padding: 8px;
}

.value h1 {
  font-size: 32px;
}

.value h2 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.estimate {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.estimateDiv {
  width: 86%;
  color: #fff;
  background-color: #12b98e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 7px #12b98e;
  padding: 20px;
}

.estimateDiv h1 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.estimateDiv button {
  font-size: 18px;
  padding: 12px 18px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 25px;
}

.secret {
  width: 100vw;
  padding: 12px 16px;
}

.secret h1 {
  padding: 12px;
  font-size: 32px;
  width: fit-content;
  margin: auto;
}

.secretDiv {
  width: 95vw;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inSecret {
  width: 31%;
  height: 548px;
  padding: 12px;
  border: transparent;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 12px #8d8989;
  margin: 10px auto;
}

.inSecret img {
  width: 100%;
  padding: 12px 0;
  margin: auto;
}

.inSecret h2 {
  font-size: 24px;
  font-weight: 500;
  width: 90%;
  margin: 12px auto;
}

.inSecret p {
  padding: 15px 8px;
  font-size: 17px;
  letter-spacing: .5px;
  width: 90%;
  height: 50%;
  margin: auto;
  color: #8d8989;
}



footer {
  width: 100vw;
  height: 568px;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.inFoot {
  width: 35%;
  height: 65%;
  padding: 10px;
  margin: 10px;
}

.inFoot img {
  width: 250px;
  padding: 10px;
}

.inFoot p {
  font-size: 18px;
  padding: 10px;
}

.inFoot ul {
  padding: 10px;
}

.inFoot ul li {
  font-size: 18px;
  padding: 8px;
}

.address li:hover {
  font-size: 17px;
}

.googlePartner {
  width: 85%;
  height: 200px;
}

.googlePartner img {
  padding: 5px 20px;
  width: 220px;
  float: right;
}

.footIcon {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-top:1px solid #1010af ;
}
.footIcon img{
  width: 180px;
  padding: 8px;
}

.footDetail {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.footDetail p {
  width: 70%;
}

.linkIcon {
  width: 30%;
}

.linkIcon ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.linkIcon ul li {
  padding: 6px;
  color: #635f5f;
}

@media(max-width:1002px) {
  .logo{
    width: 96%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
  }
  .headerList{
    display: none;
  }
  .searchBar{
    display: none;
  }
  .hamburgerDiv{
    display: block;
  }
  .Headings{
    width: 67%;
  }
  .Headings h1{
    font-size: 30px;
  }
  .Headings h2{
    font-size: 80px;
  }


  .detail{
    width: 34%;
    margin: 14px;
  }

  .designs h3{
    font-size: 50px;
  }

  .inSecret{
    width: 45%;
  }
  .empowerSec{
    min-height: 678px;
    }
}
@media(max-width:796px){
  .Headings{
    width: 85%;
  }
  .Headings h1{
    font-size: 25px;
  }
  .Headings h2{
    font-size: 70px;
  }
  .btns{
    width: 80%;
  }
  .detail{
    width: 85%;
  }
  .detail img{
    width: 120px;
  }
  .detail h3{
    margin: 12px;
  }
  .detail p{
    font-size: 20px;
  }
  .aboutDesigns{
    width:80%;
  }
  .groupImg{
    width: 85%;
  }
  .empowerSec{
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
  }
  .inDiv{
    width: 90%;
  }
  .divInDiv{
    margin: 10px;
  }
  .empowerdetail{
    width: 85%;
  }
  .empowerdetail p{
    font-size: 20px;
    padding: 12px;
  }
  .values{
    flex-direction: column;
  }
  .value{
    margin: 12px;
  }
  .estimateDiv{
    width: 90%;
    flex-flow: column;
    text-align: center;
  }
  .estimateDiv h1{
    margin: 8px;
  }
  .inSecret{
    width: 90%;
  }
  .foot{
    flex-wrap: wrap;
  }
  .inFoot{
    width: 90%;
  }
}
@media(max-width:542px){

  .mainContainer{
    height: 948px;
  }
  .Headings{
    margin: auto;
  }

  .Headings h2{
    font-size: 60px;
  }
  .Headings h2{
    font-size: 60px;
  }
  .btns{
    width: 90%;
    flex-flow: column;
  }
  .btns button{
    width: fit-content;
    margin: 12px auto;
    padding: 12px 16px;
  }
  .hamburger{
    border-radius: 6px;
  }
}
@media(max-width:398px){
  header{
    height: 90px;
  }
  .logo img{
    width: 160px;
  }
  .hamburger{
    width: 42px;
    height: 42px;
  }
  .mainContainer{
    height: 968px;
  }
  .Headings{
    width: 92%;
  }
  .Headings h1{
    font-size: 28px;
  }
  .Headings h2{
    font-size: 46px;
  }
  .Headings p{
    padding: 8px 2px;
  }
  .designs h3{
    font-size: 42px;
  }
  .empowerdetail h2{
    font-size: 30px;
  }
  .divInDiv{
    width: 95%;
  }
  .detail{
    height: 442px;
  }
  .estimateDiv h1{
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
  }
  .estimateDiv button{
    margin: 10px auto;
  }
  .inFoot{
    width: 98%;
    padding: 2px;
  }
  .footDetail{
    align-items: center;
    flex-direction: column;
  }
  .footDetail p{
    width: 96%;
  }
  .linkIcon{
    width: 85%;
  }
}